
main{
    display: flex;
    height: 88vh;
    justify-content: space-between;
    align-items: center;
}
section{
    background-color: transparent;
}
.info{
    height: 50vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
    transition: all ease 1s;
    position: relative;
}
.informaçãoTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.informaçãoTexto h1{
    align-self: center;
    color: rgb(0, 47, 255);
    text-shadow: 1px 1px black;
    
}
.informaçãoTexto span{
    color: rgb(245, 24, 24);
}
.informaçãoTexto p {
    color: rgb(0, 47, 255);
    text-shadow: 1px 1px black;
    padding-left: 8px ;
}
.informaçãoTexto button{
    margin-bottom: 10px;
    min-width: 26.5px;
    align-self: center;
}
.cards{
    display: flex;
    align-items: center;
    position: relative;
    height: 45vh;
    width: 3%;
    overflow: hidden;
    background-color: rgba(10, 50, 226, 0.096);
    gap:20px;
    padding: 10px;
    transition: all  ease .9s;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}
.fechar{
    align-self: self-start;
    cursor: pointer;
    width: 30px;
    top: 0;
    left: 0;
}
.fechar img{
    margin-left:2px;
    height: 15px;
}
.card{
    min-width: 172.88px;
    min-height: 251.31px;
    border-radius: 10px;
    /* background: url(../imagens/cards/cardBrook.jpg); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease .5s;
}

.card:hover{
    scale: 1.1;
    transform: translateY(10px);
    
}


.Luffy{
    background: url(../imagens/cards/cardLuffy.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Zoro{
    background: url(../imagens/cards/cardZoro.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Nami{
    background: url(../imagens/cards/cardNami.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Usopp{
    background: url(../imagens/cards/cardUsopp.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Sanji{
    background: url(../imagens/cards/cardSanji.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Chopper{
    background: url(../imagens/cards/cardChopper.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Robin{
    background: url(../imagens/cards/cardRobin.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Franky{
    background: url(../imagens/cards/cardFranky.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Brook{
    background: url(../imagens/cards/cardBrook.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Jinbei{
    background: url(../imagens/cards/cardJinbei.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.card-move-left {
    animation: moveLeft 0.7s ease-in-out forwards;
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .LuffyFundo{
    background: url(../imagens/Luffy.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.ZoroFundo{
    background: url(../imagens/Zoro.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.NamiFundo{
    background: url(../imagens/Nami.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.UsoppFundo{
    background: url(../imagens/Usopp.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.SanjiFundo{
    background: url(../imagens/Sanji.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.ChopperFundo{
    background: url(../imagens/Chopper.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.RobinFundo{
    background: url(../imagens/Robin.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.FrankyFundo{
    background: url(../imagens/Franky.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.BrookFundo{
    background: url(../imagens/Brook.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.JinbeiFundo{
    background: url(../imagens/Jinbei.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.personagens{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

}
.sobre{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.personagens{
    background-color: rgba(0, 255, 255, 0.37);
    
}
.abrirInformação{
   display: flex;
   justify-content: end;
}
.abrirInformação button{
    width: 27px;
    color: black;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.397);
    border: solid 1px rgba(0, 0, 0, 0.336);
}
.personagens{
    color: rgba(0, 128, 0, 0.308);
}
.perguntaVideo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perguntaVideo div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.perguntaVideo div{
    color: red;
}
.perguntaVideo .fecharVideo{
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px black;
    align-self: flex-end;
    padding: 1px;
    
}
.tabuleiroDoVideo{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabuleiroDoVideo .botões{
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botões button{
    transition: all ease 1s;
    width: 50px;
    padding: 1px;
    border: solid 1px black;
    height: 25px;
    cursor: pointer;
}
.botões button:nth-child(1){
    background-color: rgb(0, 128, 0);
}
.botões button:nth-child(2){
    background-color: red;
}
.botões button:nth-child(1):hover{
    scale: 1.1;
    filter: drop-shadow(0 0 5px rgba(0, 128, 0, 0.63));
}
.botões button:nth-child(2):hover{
    scale: 1.1;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.637));
}
